//Globals
.vert-align-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Cutive Mono", monospace;

  div.hover:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
}

// SASS
.container {
  height: 100vh;
  .title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .menu {
    height: auto;
    width: 100%;
  }
  .button1 {
    font-size: 1rem;
    height: 100px;
    width: 100px;
    background-color: white;
    color: black;
    border: 1px solid rgb(116, 115, 115); /* 
      Green */
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button1:hover {
    background-color: #555555;
    color: white;
  }

  .canvas {
    @media (max-width: 400px) {
      height: 350px;
    }
    @media (max-width: 401px) {
      height: 420px;
    }
    width: auto;
  }

  a.button {
    color: black;
    background: transparent;
    border: none;
    padding: 1px;
    cursor: pointer;
    text-decoration: none;
  }

  // .sport-menu {
  //   width: auto;
  //   height: auto;
  //   margin: auto;
  // }
}
